# Built application files
*.apk
*.ap_

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio files
.idea/
*.iml

# Misc
.DS_Store
